<h3>All Question page</h3>
<div class="home_all_questions">
  <% @questions.each do |question| %>
    <p>
      <span><a href="/questions/<%=question.id%>"><%= question.title %></a></span>
      <span><%= time_ago_in_words(question.created_at)%></span>
    </p>
  <% end %>
</div>
<%= react_component('questionContainer', questions: questions) %>
