<h3>All Question page</h3>
<div class="home_all_questions">
  <% @questions.each do |question| %>
    <p>
      <span><%= question.title %></span>
      <span><%= time_ago_in_words(question.created_at)%></span>
    </p>
  <% end %>
</div>
