<form class="question-form" action="/questions" method="post">
  <label for="question">Title</label>
  <input type="text" name="question[title]" placeholder="Think of a descriptive title">
  <label for="question">Question</label>
  <textarea name="question[content]" rows="8" cols="80">Enter your question here. Be as descripive as possible.</textarea>
  <input type="submit" name="submit" value="Post Question">
</form>
